<%- include('../includes/admin/head.ejs') %>
</head>

<body>

  <%- include('../includes/admin/navbar.ejs') %>
  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-cog"></i> Dashboard</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <%- include('../includes/admin/topAction.ejs') %>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <% if(errorMessage){ %>
      <%- include('../includes/errorMessage.ejs', {errorMessage : errorMessage}) %>
      <% } %>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Leave Requests</h4>
            </div>
            <% if(requests.length > 0){ %>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Category</th>
                  <th class="text-center">Duration</th>
                  <th class="text-center">Attached File</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                  <th class="text-center">Withdrawal Request</th>
                </tr>
              </thead>
              <tbody>
                <% requests.forEach(request => { %>
                <tr>
                  <td class="text-center"><%= request.userId.name %></td>
                  <td class="text-center"><%= request.category %></td>
                  <td class="text-center"><%= request.duration %> days</td>
                  <td><a href="<%= request.attachment %>">Download</a></td>
                  <td class="text-center"><%= request.date %></td>
                  <td class="text-center">
                    <% if(request.approval === 0){ %>
                    Waiting
                    <% } else if (request.approval ===1){ %>
                    Approved
                    <% }else { %>
                    Denied
                    <% } %>
                  </td>
                  <td class="text-center">
                    <% if(request.approval === 2){ %>
                    <form action="/admin/leave/update" method="POST">
                      <input type="hidden" name="status" value="1">
                      <input type="hidden" name="leaveId" value="<%= request._id %>">
                      <input type="hidden" name="_csrf" value="<%= csrf %>">
                      <button type="submit" class="btn btn-success btn-sm %>">
                        +
                      </button>
                      
                    </form>
                    <% } else if (request.approval ===1){ %>
                    <form action="/admin/leave/update" method="POST">
                      <input type="hidden" name="status" value="2">
                      <input type="hidden" name="leaveId" value="<%= request._id %>">
                      <input type="hidden" name="_csrf" value="<%= csrf %>">
                      <button type="submit" class="btn btn-danger btn-sm %>">
                        -
                      </button>
                      
                    </form>
                    <% }else { %>
                    <form action="/admin/leave/update" method="POST">
                      <input type="hidden" name="status" value="1">
                      <input type="hidden" name="leaveId" value="<%= request._id %>">
                      <input type="hidden" name="_csrf" value="<%= csrf %>">
                      <button type="submit" class="btn btn-success btn-sm %>">
                        +
                      </button>
                    </form> 
                    <form action="/admin/leave/update" method="POST">
                      <input type="hidden" name="status" value="2">
                      <input type="hidden" name="leaveId" value="<%= request._id %>">
                      <input type="hidden" name="_csrf" value="<%= csrf %>">
                      <button type="submit" class="btn btn-danger btn-sm %>">
                        -
                      </button>
                      
                    </form>
                    <% } %>
                  </td>
                  <td class="text-center">
                    <% if(!request.withdraw){ %>
                    No request
                    <% }else{ %>
                    <form action="/admin/leave/delete" method="POST">
                      <input type="hidden" name="leaveId" value="<%= request._id %>">
                      <input type="hidden" name="_csrf" value="<%= csrf %>">
                      <button type="submit" class="btn btn-danger btn-sm">
                        Confirm
                      </button>
                      
                    </form>
                    <% } %>

                  </td>

                </tr>
                <% }) %>
              </tbody>
            </table>
            <% } else { %>
            <p class="text-center">No Leave History...</p>
            <% } %>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <%- include('../includes/footer.ejs') %>


  <!-- MODALS -->


  <!-- ADD USER MODAL -->
  <%- include('../includes/admin/userModal.ejs') %>


  <!-- End Script -->
  <%- include('../includes/end.ejs') %>
</body>

</html>