<%- include('../includes/head.ejs')%>
</head>

<body>
  <%- include('../includes/navbar.ejs') %>


  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <%- include('../includes/errorMessage.ejs', {errorMessage : errorMessage}) %>
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-user"></i> Edit Profile</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="/" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Back To Dashboard
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- PROFILE -->
  <!-- PROFILE -->
  <section id="profile">
    <div class="container">

      <form action="/profile" method="post">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="name" name="name" value="<%= user.name %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 offset-md-3">
              <input type="hidden" name="_csrf" value="<%= csrf %>">
            <input type="hidden" name="userId" value="<%= user._id %>">
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
          </div>
        </div>
      </form>

    </div>
  </section>
  <!-- FOOTER -->
  <%- include('../includes/footer.ejs') %>



  <!-- End Script -->
  <%- include('../includes/end.ejs') %>

</body>

</html>